.Player {
    display : flex;
    position: fixed;
    bottom : 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    height : 75px;
    color : white;
}
.player_left {
    padding : 10px;
    flex : 0.3;
    cursor: pointer;
}
.player_center {
    transition : 200ms all ease;
    flex : 0.4;
    display: flex;
    margin-top : 5px;
    justify-content: space-evenly;
}
.controls {
    margin-top :1%;
}

.player_right {
    flex: 0.3;
    display: flex;
    align-items: center;
}
.trackname {
    padding-top : 0;
    padding-left: 5px;
}

.play{
    cursor: pointer;
}
.shuffle {
    cursor: pointer;
}
.SkipNext {
    cursor: pointer;
}
.SkipPrev {
    cursor: pointer;
}
.repeat {
    cursor: pointer;
}