.register {
    margin-top:5%;
    margin : 0 auto;

}

.register > img {
    width : 100% ;
}
.register > div > h1 {
    border-bottom-style: ridge;
    margin : 0 auto;
    width : 60%;
    text-align: center;
}
.register > div {
    margin-bottom : 5%;
}
.form {
    width : 50%;
}
.l{
    background-color: black;
}
.btn1 {
    border-radius : 99px;
    text-align: center;
}
.policy {
    text-align: center;
}
.login_redirect {
    font-weight: 900;
    text-align: center;
}
.error{
    color : red;
    text-align: center;
}